*{
  margin: 0;
  padding: 0;
}
html{
  background: linear-gradient(to right, white, #1956B4);
  scroll-behavior: smooth;
}
header{
    max-height: 300px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
}
nav img{
    max-width: 130px;
    object-fit: contain;

}
nav ul{
    display: flex;
    list-style: none;
    gap: 1rem;
}

nav ul a{
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
}
.active{
    color: hsl(206, 68%, 80%);
    border-bottom: 2px solid hsl(206, 68%, 80%);

}
nav button{
    background-color: #1956B4;
    border: none;
    padding: 10px 10px;
    font-size: 1.1rem;
    color :white;
    border-radius: 4px;
}
.side-nav{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    background: #1956B4;
    height: 100vh;
    width: 0px;
    transition: all ease .5s; 
    z-index: 10;
    padding: 10px;
}

.tems{
    max-width: 50px;
}
.side-nav li{
    width: 100%;
    list-style: none;
    padding: 35px 0 0 15px;

}
.side-nav li a{
    color: white;
    text-decoration: none;
  font-size: 1.8rem;

}
@media (min-width:830px ) {
  #tems1{
            display: none;

  }
}
@media (max-width: 750px) {
    nav ul{

        display: none;
    }
    nav button{
        font-size: 1rem;
        padding: 5px;
    }
    nav img{
        width: 100px;
    }
}
@media (max-width: 830px) {
    nav ul{

        display: none;
    }
    nav button{
        display: none;
    }
}



/* +++++++++++++++++++++++++++++++++++++++++++++++++ */


.main {
  min-height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.container {
  width: 80vw;
  margin: 0 auto;
}

main img {
  height: 300px;
  max-width: 400px;
}
main .hero-content {
}
main span {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
main p {
  font: 1.2rem;
  margin: 2rem 0;
}
main button {
  background-color: #1956b4;
  border: none;
  padding: 10px 10px;
  font-size: 1.1rem;
  color: white;
  border-radius: 4px;
  margin-bottom: 3rem;
}
#about {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.about-container {
  display: flex;
  gap: 2rem;
}
.about-container img {
  max-width: 500px;
  max-height: 400px;
}
.about-container .about-info {
  max-width: 400px;
}
.about-info h2 {
  font-size: 5rem;
  color: hsl(0, 0%, 0%);
  margin-bottom: 1rem;
}
.about-info p {
  font-size: 1.2rem;
  color: hsl(0, 0%, 20%);
}
.about-info h3 {
  color: hsl(0, 0%, 10%);
}
#services {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}
.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  margin-top: 3rem;
}
.service {
  max-width: 300px;
  max-height: 350px;
  background: hsl(0, 0%, 80%, 0.3);
  padding: 10px;
  backdrop-filter: blur(10px);
}
.service img {
  width: 40px;
  background: transparent;
  margin-bottom: 10px;
}
#services h1 {
  text-align: center;
}
.service h2 {
  color: hsl(0, 0%, 0%);
  margin-block: 0 10px;
}
.service p {
  color: hsl(0, 0%, 20%);
}
#footer {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background: #1956b4;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  height: 350px;
  background: white;
  padding: 2rem;
  text-align: center;
}

form input {
  padding: 5px;
  border: none;
  color: #1956b4;
  outline: none;
  margin-top: 1rem;
  border-bottom: 1px solid #1956b4;
}
form input:focus {
  outline: none;
}
form textarea {
  resize: none;
  border: none;
  border-bottom: 1px solid #1956b4;
  margin-block: 1rem;
}
textarea:focus {
  outline: none;
}
form button {
  background-color: #1956b4;
  color: white;
  padding: 5px;
  font-size: 1rem;
  border: none;
}
.contact {
  color: white;
}
.contact h1 {
  margin-bottom: 2rem;
}
.contact p {
  padding: 0.5rem 0;
}
.contact img {
  width: 100%;
  margin-top: 2rem;
  max-width: 200px;
}
.footer-items {
  display: flex;
  justify-content: space-between;
  margin-block: 5rem;
}
.copy {
  min-height: 30px;
  text-align: center;
  margin-top: 1rem;
  color: white;
}
.modern-container {
  min-height: 50vh;
  display: flex;
  gap: 1rem;
}

.modern h1 {
  font-size: 8rem;
  margin: 1rem 0;
}
.modern p {
  font-size: 1.2rem;
  color: hsl(0, 0%, 10%, 0.9);
  max-width: 500px;
}
.modern button {
  padding: 10px;
  margin: 2rem 0;
  border: none;
  background: #1956b4;
  color: white;
  font-weight: 500;
}
.modern-container .h1 {
  font-size: 8rem;
  display: none;
  align-items: center;
}
.mission {
  min-height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
}
.mission img {
  height: 500px;
  aspect-ratio: 1/1;
}
.mission h2 {
  margin: 0 0 1rem 0;
  font-size: 5rem;
  color: black;
}
.mission p {
  font-size: 1.2rem;
  max-width: 400px;
  color: hsl(0, 0%, 20%);
}
.choose {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.choose h1 {
  text-align: center;
}
.choose-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}
.choose-item {
  padding: 1rem;
  border-left: 1px solid black;
}
.choose-item h2 {
  margin-block: 10px;
}
.choose-item p {
  color: hsl(0, 0%, 0%, 0.7);
  max-width: 300px;
}
svg {
  display: block;
}

@media (min-width: 1400px) {
  .modern-container .h1 {
    display: flex;
  }
}
@media (max-width: 850px) {
  .showone {
    flex-direction: column;
  }
  main span {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }
  .modern-container .h1 {
    display: none;
  }
  h1 {
    font-size: 3rem;
  }
  .modern-container h1 {
    font-size: 3rem;
  }
  .modern-container .h1 {
    font-size: 3rem;
  }
  .mission {
    margin-bottom: 5rem;
  }
  .footer-items {
    align-items: center;
    gap: 2rem;
  }
  .footer-items h1 {
    text-align: center;
  }
}
@media (max-width: 1000px) {
  .responsive {
    flex-direction: column;
  }
  #services {
    margin-bottom: 0;
  }
  hr {
    border: 1px solid black;
    margin-block: 0;
  }
}
hr {
  border: 1px solid black;
  margin-block: 2rem;
}
.arrow::after{
  content: "back to top";
  color: white;
}